name: "Build & Release"
on:
  pull_request:
    branches:
      - main
      - 'feature/*'
  push:
    branches:
      - main
      - 'feature/*'
jobs:  # Telling what jobs we need to happen
  build:      # Specify the building name and machine
    name: Build & Release  # you can name the build whatever you want
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Set Up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'graalvm'
        java-version: '21'
    - name: Set Up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0'
        channel: 'stable'
    - name: Install Dependencies
      run: flutter pub get
    - name: Build APK
      run: flutter build apk --release
    - name: Build appBundle
      run: flutter build appbundle
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Releases
        path: |
          build/app/outputs/flutter-apk/app-release.apk
          build/app/outputs/bundle/release/app-release.aab
          build/ios_build.tar.gz
    - name: Extract version from pubspec.yaml
      id: extract_version
      run: |
        version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
        echo "VERSION=$version" >> $GITHUB_ENV
    - name: Check if Tag Exists
      id: check_tag
      run: |
        if git rev-parse "v${{ env.VERSION }}" >/dev/null 2>&1; then
          echo "TAG_EXISTS=true" >> $GITHUB_ENV
        else
          echo "TAG_EXISTS=false" >> $GITHUB_ENV
        fi
    - name: Modify Tag
      if: env.TAG_EXISTS == 'true'
      id: modify_tag
      run: |
        new_version="${{ env.VERSION }}-build-${{ github.run_number }}"
        echo "VERSION=$new_version" >> $GITHUB_ENV
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/app/outputs/flutter-apk/app-release.apk,build/app/outputs/bundle/release/app-release.aab,build/ios_build.tar.gz"
        tag: v${{ env.VERSION }}
        token: ${{ secrets.TOKEN }}
